<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script
      src="https://kit.fontawesome.com/70cf0af2bf.js"
      crossorigin="anonymous"
    ></script>
    <title>비밀번호ㅓ 찾기</title>
  </head>
  <body>
    <div class="header">
      <div class="header-title"><a href="/siteuser">Bookcycle</a></div>
      <div class="header-category">
        <div><a href="/siteuser">Home</a></div>
        <div><a href="/siteuser/shop">Shop</a></div>
        <div>About</div>
        <div><a href="/siteuser/signup">Sign Up</a></div>
      </div>
      <div class="header-column">
        <div class="header-column__search">
          <form action="">
            <input
              type="text"
              name="search"
              placeholder="What are you looing for?"
            />
          </form>
        </div>
        <div class="header-column__icons">
          <a href="/siteuser/login" class="fas fa-shopping-cart"></a>
          <a href="/siteuser/login" class="far fa-user"></a>
        </div>
      </div>
    </div>

    <div class="sign-up">
      <div class="sign-up__screen">
        <div class="sign-up__screen__title">비밀번호 찾기 완료</div>
        <p th:text="|${user.name}님의 비밀번호는 ${user.passwd}입니다..|" />
        <form action="">
          <input class="btn" type="button" value="로그인" />
        </form>
      </div>
    </div>

    <div class="footer">
      <div class="footer_column">
        <div class="footer_column_box">
          <div class="footer_column_box_title">Category</div>
          <div class="footer_column_box_content">
            <a href="#">장르소설</a>
            <a href="#">시/에세이</a>
            <a href="#">청소년문학</a>
            <a href="#">아동문학</a>
          </div>
        </div>
        <div class="footer_column_box">
          <div class="footer_column_box_title">About</div>
          <div class="footer_column_box_content">
            <a href="#">서점 북사이클</a>
            <a href="#">사용 가이드</a>
            <a href="#">FAQ</a>
          </div>
        </div>
        <div class="footer_column_box">
          <div class="footer_column_box_title">Account</div>
          <div class="footer_column_box_content">
            <a href="#">마이페이지</a>
            <a href="#">로그인/회원가입</a>
            <a href="#">장바구니</a>
            <a href="#">마이북</a>
          </div>
        </div>
        <div class="footer_column_box">
          <div class="footer_column_box_title">Quick Link</div>
          <div class="footer_column_box_content">
            <a href="#">개인정보처리방침</a>
            <a href="#">이용약관</a>
            <a href="#">운영정책</a>
            <a href="#">Contact Us</a>
          </div>
        </div>
      </div>
      <div class="footer_coper"></div>
    </div>
  </body>
</html>
