<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script
      src="https://kit.fontawesome.com/70cf0af2bf.js"
      crossorigin="anonymous"
    ></script>
    <title>책 정보입니당</title>
  </head>
  <body>
    <div class="header">
      <div class="header-title"><a href="/siteuser">Bookcycle</a></div>
      <div class="header-category">
        <div><a href="/siteuser">Home</a></div>
        <div><a href="/siteuser/shop">Shop</a></div>
        <div>About</div>
        <div><a href="/siteuser/signup">Sign Up</a></div>
      </div>
      <div class="header-column">
        <div class="header-column__search">
          <form action="">
            <input
              type="text"
              name="search"
              placeholder="What are you looing for?"
            />
          </form>
        </div>
        <div class="header-column__icons">
          <!-- 로그인 상태 확인 -->
          <div th:if="${session.email == null}">
            <!-- 로그인하지 않은 경우, 로그인 페이지로 이동하는 링크 -->
            <a href="/siteuser/login" class="fas fa-shopping-cart"></a>
            <a href="/siteuser/login" class="far fa-user"></a>
          </div>
          <div th:unless="${session.email == null}">
            <!-- 로그인한 경우, 마이페이지로 이동하는 링크 -->
            <a href="/siteuser/mypage" class="fas fa-shopping-cart"></a>
            <a href="/siteuser/mypage" class="far fa-user"></a>
            <!-- 로그아웃 링크 추가 -->
            <a href="/siteuser/logout" class="logout-link">로그아웃</a>
          </div>
        </div>
      </div>
    </div>
    <h1>책 상세 정보</h1>
    <div class="book-details">
      <div class="book-details__img">
        <img th:src="@{${book.imageUrl}}" alt="Book Image" />
      </div>
      <div class="book-details__content">
        <h2 th:text="${book.title}">책 제목입니다</h2>
        <p th:text="${book.author}">저자 이름은 여기</p>
        <p>
          <span th:text="${book.price} + '₩'">가격 정보</span>
          <span th:text="${book.status}">(상태 정보)</span>
        </p>
      </div>
    </div>
    <a href="/siteuser/shop">뒤로 가기</a>

    <div class="footer">
      <div class="footer_column">
        <div class="footer_column_box">
          <div class="footer_column_box_title">Category</div>
          <div class="footer_column_box_content">
            <a href="#">장르소설</a>
            <a href="#">시/에세이</a>
            <a href="#">청소년문학</a>
            <a href="#">아동문학</a>
          </div>
        </div>
        <div class="footer_column_box">
          <div class="footer_column_box_title">About</div>
          <div class="footer_column_box_content">
            <a href="#">서점 북사이클</a>
            <a href="#">사용 가이드</a>
            <a href="#">FAQ</a>
          </div>
        </div>
        <div class="footer_column_box">
          <div class="footer_column_box_title">Account</div>
          <div class="footer_column_box_content">
            <a href="#">마이페이지</a>
            <a href="#">로그인/회원가입</a>
            <a href="#">장바구니</a>
            <a href="#">마이북</a>
          </div>
        </div>
        <div class="footer_column_box">
          <div class="footer_column_box_title">Quick Link</div>
          <div class="footer_column_box_content">
            <a href="#">개인정보처리방침</a>
            <a href="#">이용약관</a>
            <a href="#">운영정책</a>
            <a href="#">Contact Us</a>
          </div>
        </div>
      </div>
      <div class="footer_coper"></div>
    </div>
  </body>
</html>
