<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" th:href="@{css/style.css}" />
  <script src="https://kit.fontawesome.com/70cf0af2bf.js" crossorigin="anonymous"></script>
  <link href="css/font-awesome.min.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
  <link href="css/responsive.css" rel="stylesheet" />

  <style> 
    table,td{
	border: 1px solid lightgray;
	border-collapse: collapse;
}
th {
	border: 1px solid white;
	border-collapse: collapse;
}
th {
	background-color: #96D4D4;
}
.booklist__button div {
  border-radius: 4px;
  position: relative;
  display: flex;
  padding: 18px 0px;
  width: 450px;
  box-sizing: border-box;
  font-size: 14px;
  justify-content: center;
}
.button__select {
  background-color: #282828;
  color: #ffffff;
}

.button__not__select {
  background-color: #ffffff;
  color: #282828;
  border: 1px solid #858585;
}
  </style>

  <title>Bookcycle</title>


</head>

<body>

<!-- header section starts -->

<header>

  <div class="header-title">
    <a href="home.html">Bookcycle</a>
  </div>
  <div class="header-category">
      <div><a href="home.html">Home</a></div>
      <div><a href="shop.html">Shop</a></div>
      <div><a href="about.html">About</a></div>
      <div><a href="signup.html">Sign Up</a></div>
  </div>
  <div class="header-column">
      <div class="header-column__search">
        <form action="#">
          <input type="text" name="search" placeholder="What are you looing for?"/>
          <a href="serch.html" class="fas fa-magnifying-glass"></a>
        </form>
      </div>
      <div class="header-column__icons">
        <a href="/siteuser/login" class="fas fa-shopping-cart"></a>
        <a href="/siteuser/login" class="far fa-user"></a>
      </div>
  </div>

</header>

<!-- header section end -->
    <h3>FAQ</h3>
    <div class="booklist__button">
        <div class="button__select">
            <a th:href="@{/siteuser/faq}">전체 질문</a>
        </div>
        <div class="button__not__select">
            <a th:href="@{/siteuser/faq_w}">질문하기</a>
        </div>
    </div>
    <select name="field">
        <option selected value="">분야를 선택하세요</option>
        <option value="001">001</option>
        <option value="002">001</option>
        <option value="003">001</option>
        <option value="004">001</option>
    </select>
    <table class="tb tb_col">
        <colgroup>
        <col style="width: 48px;"/>
        <col style="width: 180px;"/>
        <col style="width: 372px;"/>
        <col style="width: 120px;"/>
        </colgroup>
        <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">분야</th>
                <th scope="col">제목</th>
                <th scope="col">작성일</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${not #lists.isEmpty( posts )}" th:each="row, status : ${posts}">
                <td th:text="${row.status.index}"></td>
                <td th:text="${row.field}"></td>
                <td class="tl"><a th:href="@{/siteuser/faq_d( id=${row.id} )}" th:text="${row.ftitle}"></a></td>
                <td th:text="${row.#temporals.format(row.createDate, 'yyyy-MM-dd')}"></td>
            </tr>
        </tbody>
    </table>
    <h3>게시글</h3>
	<p><a th:href="@{/siteuser/bbs}">글 목록</a></p>
	<table style="width:100%">
	<tr><td>제목</td><td>[[${article.title}]]</td></tr>
	<tr><td>작성자</td><td>[[${article.author}]]</td></tr>
	<tr><td>내용</td><td>[[${article.body}]]</td></tr>
	</table>

<!-- footer section starts -->

<section class="footer">

  <div class="box-container">

    <div class="box">
      <h3>Shop</h3>
        <a href="#">장르소설</a>
        <a href="#">시/에세이</a>
        <a href="#">청소년문학</a>
        <a href="#">아동문학</a>
    </div>

    <div class="box">
      <h3>About</h3>
      <a href="#">북사이클</a>
      <a href="#">사용 가이드</a>
      <a href="#">FAQ</a>
    </div>

    <div class="box">
      <h3>Account</h3>
      <a href="#">마이페이지</a>
      <a href="#">마이북</a>
      <a href="#">주문내역</a>
      <a href="#">장바구니</a>
    </div>

    <div class="box">
      <h3>Quick Link</h3>
      <a href="#">개인정보처리방침</a>
      <a href="#">이용약관</a>
      <a href="#">운영정책</a>
    </div>

    <div class="box">
      <h3>Contact Us</h3>
      <a href="#">+82 10-1234-5678</a>
      <a href="#">bookcycle@bkcy.kr</a>
      <a href="#">전남 무안군 청계면 1666</a>
      <img src="images/sns.png" alt="">
    </div>

  </div>

  <div class="credit"> created by <span> mnu. wp. teamD </span> | all rights reserved. </div>

</section>

<!-- footer section ends-->
</body>
</html>